@model IEnumerable<LegoCollectionManager.Models.Set>

@{
    ViewData["Title"] = "UserSets";
}

<h1>UserSets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PiecesAmount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PiecesAmount)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Set" asp-route-id="@item.SetId">Details</a> |
                <a asp-action="DeleteUserSet" asp-route-id="@item.SetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
