@model LegoCollectionManager.Models.Set

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Set</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PiecesAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PiecesAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetCategoryNavigation.SetCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
