@model IEnumerable<LegoCollectionManager.Models.Piece>

@{
  ViewData["Title"] = "Index";
  var dictionary = this.ViewBag.dictionary as List<Piece>;
  var category = this.ViewBag.displayData as List<string>;
}

<form action="/PieceCategory/Search" method="get">
  <select name="value">
    @foreach (var diction in category)
    {
      <option value="@diction">@diction</option>
    }
  </select>
  <p><input type="submit" value="Submit" /> </p>
</form>


<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.PieceName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.PieceCategory)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in dictionary)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.PieceName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PieceCategory)
        </td>
      </tr>
    }
  </tbody>
</table>