@model IEnumerable<LegoCollectionManager.Models.Piece>

@{
  ViewData["Title"] = "Index";
  var dictionary = this.ViewBag.dictionary as List<Piece>;
  var category = this.ViewBag.displayData as List<string>;
  var name = this.ViewBag.category as string;
}

<br />
<h1>Filter by Category</h1>
<br />
<form action="/PieceCategory/Search" method="get" class="d-flex">
  <select name="value">
    @foreach (var diction in category)
    {
      <option value="@diction">@diction</option>
    }
  </select>
  <input type="submit" value="Submit" />
</form>

<br />
<h1> @name </h1>
<table class="table">

  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.PieceId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.PieceName)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in dictionary)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.PieceId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PieceName)
        </td>
      </tr>
    }
  </tbody>
</table>