@model LegoCollectionManager.Models.Piece

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Piece</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PieceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PieceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PieceImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PieceImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PieceCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PieceCategoryNavigation.PieceCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PieceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
