@model IEnumerable<LegoCollectionManager.Models.Piece>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PieceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieceImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieceCategoryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PieceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieceImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieceCategoryNavigation.PieceCategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PieceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PieceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PieceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
